:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --accent-hero-color: #188ce8;
  --background-primary-color: #ffffff;
  --background-secondary-color: #2f303a;
  --background-body-color: #e5e5e5;
  --background-example-color: #eeeeee;
  --background-ourteam-color: #f5f4fa;
  --header-logo-color: #000000;
  --address-info-color: rgba(255, 255, 255, 0.6);
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/* Header */

.header {
  background-color: var(--background-primary-color);
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
  text-decoration: none;
}

.header-logo {
  color: var(--header-logo-color);
}

.remove-pointer {
  list-style-type: none;
}

.current {
  color: var(--accent-color);
}

.header-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.navigation-link {
  color: var(--title-text-color);
}
.company-info {
  color: inherit;
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

/* Footer */

.footer {
  background-color: var(--background-secondary-color);
}

.footer-logo {
  color: var(--background-primary-color);
}

.address {
  font-style: normal;
  color: var(--background-primary-color);
}

.address-info {
  color: var(--address-info-color);
  text-decoration: none;
}

.address-info:hover,
.address-info:focus {
  color: var(--accent-color);
}

/* Студія */

.hero {
  background-color: var(--background-secondary-color);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--background-primary-color);
}

.hero-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  color: var(--background-primary-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-width: 0;
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--accent-hero-color);
}

.advantages,
.whatwedo {
  background-color: var(--background-primary-color);
}

.advantages-header {
  display: none;
}

.advantages-title {
  font-weight: 700;
  font-size: inherit;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.whatwedo-title,
.ourteam-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-text-color);
}

.ourteam {
  background-color: var(--background-ourteam-color);
}

.ourteam-list {
  font-size: 16px;
  line-height: 1.1875;
}

.ourteam-item {
  background-color: var(--background-primary-color);
}

.ourteam-name {
  font-weight: 500;
  font-size: inherit;
  color: var(--title-text-color);
}

/* Портфоліо */

.example {
  background-color: var(--background-primary-color);
}

.example-header {
  display: none;
}

.example-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.624;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  padding: 6px 22px;
  background-color: var(--background-ourteam-color);
  border-radius: 4px;
  border-width: 0;
  cursor: pointer;
}

.example-button:hover,
.example-button:focus {
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.example-block {
  text-decoration: none;
  color: inherit;
}

.example-item {
  border-color: var(--background-example-color);
}

.example-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.example-type {
  font-size: 16px;
  line-height: 1.875;
}
